In [12]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import os
%matplotlib inline
sns.set()

In [13]:
print(os.listdir('../FinalWork/berlin-airbnb-data'))

['reviews.csv', '.DS_Store', 'neighbourhoods.csv', 'listings.csv', 'calendar_summary.csv', 'reviews_summary.csv', '.ipynb_checkpoints', 'listings_summary.csv']

In [14]:
df_reviews = pd.read_csv('../FinalWork/berlin-airbnb-data/reviews.csv')
df_neighbourhoods = pd.read_csv('../FinalWork/berlin-airbnb-data/neighbourhoods.csv')
df_listings = pd.read_csv('../FinalWork/berlin-airbnb-data/listings.csv')
df_calendar_summary = pd.read_csv('../FinalWork/berlin-airbnb-data/calendar_summary.csv')
df_reviews_summary = pd.read_csv('../FinalWork/berlin-airbnb-data/reviews_summary.csv')
df_listings_summary = pd.read_csv('../FinalWork/berlin-airbnb-data/listings_summary.csv')

In [15]:
s2 = '":@.-()/{}'
for row in df_listings_summary.amenities:
    s1 = row
    for sim in s2:
        s1 = s1.replace(str(sim), '')
    R = s1.split(",")

In [16]:
df_listings_summary["amenities"] = df_listings_summary["amenities"].apply(lambda x: x[1:-1].replace("\"", "").split(","))

In [17]:
df_listings_summary["security_deposit"].fillna("$0.00", inplace=True)
df_listings_summary["cleaning_fee"].fillna("$0.00", inplace=True)
df_listings_summary["extra_people"].fillna("$0.00", inplace=True)

In [18]:
def remove_s(str_price):
    if "," in str_price:
        str_price = str_price.replace(",", "")
    else:
        pass
    return str_price[1:]


for s_column in ["price", "security_deposit", "cleaning_fee", "extra_people"]:
    price_no_s = df_listings_summary[s_column].apply(remove_s)
    df_listings_summary[s_column] = price_no_s

In [19]:
df_listings_summary["price"] = df_listings_summary["price"].astype("float")

In [20]:
df_listings_summary["host_is_superhost"].fillna("f", inplace=True)
df_listings_summary["host_identity_verified"].fillna("f", inplace=True)
df_listings_summary["bedrooms"].fillna(1.0, inplace=True)

In [21]:
columns_to_keep = ["id", "description", "neighbourhood_cleansed", "neighbourhood_group_cleansed",
                   "property_type", "room_type", "accommodates", "bathrooms", "bedrooms", "bed_type",
                   "amenities", "square_feet", "price", "security_deposit", "cleaning_fee", "guests_included", 
                   "extra_people", "minimum_nights", "instant_bookable", "cancellation_policy",
                   "host_identity_verified", "is_business_travel_ready", "host_is_superhost", "latitude", "longitude"]

In [22]:
df_selected = df_listings_summary[columns_to_keep].set_index('id')

In [23]:
df_raw = df_selected[(df_selected.price 
                                 <= np.percentile(df_selected["price"],
                                99.5)) & (df_selected.price > 0)]

In [24]:
selected = []
df_raw["is_entire_apt"] = df_raw["room_type"]=="Entire home/apt"
selected.append("is_entire_apt")

/Users/olgakhamtsova/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [25]:
df_raw["hair_dryer"] = df_raw["amenities"].apply(lambda x: '"Hair dryer"' in x)
df_raw["lap_friendly"] = df_raw["amenities"].apply(lambda x: '"Laptop friendly workspace"' in x)
df_raw["Washer"] = df_raw["amenities"].apply(lambda x: "Washer" in x)
for i in ["hair_dryer", "lap_friendly", "Washer"]:
    selected.append(i)

/Users/olgakhamtsova/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/olgakhamtsova/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/olgakhamtsova/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [26]:
df_raw["minimum_nights_more_1"] = df_raw["minimum_nights"].apply(lambda x: 'True' if x > 1 else 'False')
selected.append("minimum_nights_more_1")

/Users/olgakhamtsova/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [27]:
df_raw["cleaning_fee"] = df_raw["cleaning_fee"].astype("float")
selected.append("cleaning_fee")

/Users/olgakhamtsova/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [28]:
selected.append("accommodates")

In [29]:
selected.append("host_is_superhost")
selected.append("host_identity_verified")
selected.append("instant_bookable")

In [30]:
df_raw["cancellation_not_flexible"] = df_raw["cancellation_policy"]!="flexible"
df_raw["cancellation_not_flexible"].value_counts()

/Users/olgakhamtsova/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

True     13390
False     9051
Name: cancellation_not_flexible, dtype: int64

In [31]:
selected.append("cancellation_not_flexible")

In [32]:
df_raw["host_is_superhost"] = df_raw["host_is_superhost"]=="t"
df_raw["host_identity_verified"] = df_raw["host_identity_verified"]=="t"
df_raw["instant_bookable"] = df_raw["instant_bookable"]=="t"
df_raw["minimum_nights_more_1"] = df_raw["minimum_nights_more_1"]=="t"

/Users/olgakhamtsova/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/olgakhamtsova/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/olgakhamtsova/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/olgakhamtsova/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [33]:
lat_long_list = [[52.525293,13.369359],[52.558794,13.288437],[52.516497,13.377683],
                 [52.517693,13.402141],[52.518770,13.376166]]

In [34]:
toploc = {"hbf": [52.525293, 13.369359], 
          "txl": [52.558794, 13.288437], 
          "btor": [52.516497, 13.377683], 
          "museum": [52.517693, 13.402141], 
          "reichstag": [52.518770, 13.376166]}

In [35]:
df_raw["good_location"] = df_raw["neighbourhood_group_cleansed"].apply(lambda x: 'True' if x in ["Mitte", "Friedrichshain-Kreuzberg", "Charlottenburg-Wilm.", "Tempelhof - Schöneberg", "Pankow"] else 'False')

/Users/olgakhamtsova/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [36]:
selected.append("good_location")
df_raw["good_location"] = df_raw["good_location"]=="t"

/Users/olgakhamtsova/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [37]:
for col in df_raw[selected].select_dtypes("bool").columns:
    df_raw[col] = df_raw[col].astype("int")

/Users/olgakhamtsova/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [38]:
# В целях улучшения качества модели попробуем создать дополнительные признаки.

In [39]:
df_raw['square_feet'].head()

id
2015      NaN
2695      NaN
3176    720.0
3309      0.0
7071      NaN
Name: square_feet, dtype: float64

In [40]:
# В предыдущей модели за размер квартиры отвечала переменная accomodates.
# Попробуем определить размер квартир точнее, например в квадратных метрах
# Колонка square_feet не дает необходимой информации, т.к. содержит много пропущенных значений
df_raw.square_feet.isna().sum()

21996

In [41]:
# Колонка description может содержать информацию о площади
df_raw.description.isna().sum()

202

In [42]:
# Извлечем возможные значения площади
df_raw['size'] = df_raw['description'].str.extract('(\d{2,3}\s?[smSM])', expand=True)
df_raw['size'] = df_raw['size'].str.replace("\D", "")
df_raw['size'] = df_raw['size'].astype(float)

/Users/olgakhamtsova/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/olgakhamtsova/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/olgakhamtsova/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [43]:
df_raw['size'].isna().sum()

11744

In [44]:
# Не все значения удалось заполнить с помощью текста описания
df_raw[['description', 'size']].head(10)

                                             description   size
id
2015   Great location!  30 of 75 sq meters. This wood...   75.0
2695   In the summertime we are spending most of our ...   25.0
3176   This beautiful first floor apartment  is situa...   68.0
3309   First of all: I prefer short-notice bookings. ...   26.0
7071   Cozy and large room in the beautiful district ...   20.0
9991   4 bedroom with very large windows and outstand...  780.0
14325  The apartment is located on the upper second f...    NaN
16401  Hello future guests! We want to rent our cute ...   55.0
16644  Light and sunny 2-Room-turn of the century-fla...   80.0
17409  The 25 sqm room is located in the heart of Ber...   25.0

In [45]:
df_raw["security_deposit"] = df_raw["security_deposit"].astype("float")
df_raw["extra_people"] = df_raw["extra_people"].astype("float")

/Users/olgakhamtsova/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/olgakhamtsova/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [46]:
df_raw["bathrooms"].fillna(1.0, inplace=True)
df_raw["bathrooms"].isna().any()

/Users/olgakhamtsova/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

False

In [47]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22441 entries, 2015 to 29867352
Data columns (total 32 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   description                   22239 non-null  object
 1   neighbourhood_cleansed        22441 non-null  object
 2   neighbourhood_group_cleansed  22441 non-null  object
 3   property_type                 22441 non-null  object
 4   room_type                     22441 non-null  object
 5   accommodates                  22441 non-null  int64
 6   bathrooms                     22441 non-null  float64
 7   bedrooms                      22441 non-null  float64
 8   bed_type                      22441 non-null  object
 9   amenities                     22441 non-null  object
 10  square_feet                   445 non-null    float64
 11  price                         22441 non-null  float64
 12  security_deposit              22441 non-null  float64
 13  cleaning_fee                  22441 non-null  float64
 14  guests_included               22441 non-null  int64
 15  extra_people                  22441 non-null  float64
 16  minimum_nights                22441 non-null  int64
 17  instant_bookable              22441 non-null  int64
 18  cancellation_policy           22441 non-null  object
 19  host_identity_verified        22441 non-null  int64
 20  is_business_travel_ready      22441 non-null  object
 21  host_is_superhost             22441 non-null  int64
 22  latitude                      22441 non-null  float64
 23  longitude                     22441 non-null  float64
 24  is_entire_apt                 22441 non-null  int64
 25  hair_dryer                    22441 non-null  int64
 26  lap_friendly                  22441 non-null  int64
 27  Washer                        22441 non-null  int64
 28  minimum_nights_more_1         22441 non-null  int64
 29  cancellation_not_flexible     22441 non-null  int64
 30  good_location                 22441 non-null  int64
 31  size                          10697 non-null  float64
dtypes: float64(10), int64(13), object(9)
memory usage: 5.6+ MB

In [48]:
# Чтобы не потерять значительную часть полезной информации, не будем избавляться от пропущенных значений.
# Заполним их значениями, полученными с помощью алгоритма машинного обучения. Для этого используем только численные значения
sub_df = df_raw[['accommodates', 'bathrooms', 'bedrooms',  'price', 'cleaning_fee', 
                 'security_deposit', 'extra_people', 'guests_included', 'good_location', 'size']]

In [49]:
sub_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22441 entries, 2015 to 29867352
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   accommodates      22441 non-null  int64
 1   bathrooms         22441 non-null  float64
 2   bedrooms          22441 non-null  float64
 3   price             22441 non-null  float64
 4   cleaning_fee      22441 non-null  float64
 5   security_deposit  22441 non-null  float64
 6   extra_people      22441 non-null  float64
 7   guests_included   22441 non-null  int64
 8   good_location     22441 non-null  int64
 9   size              10697 non-null  float64
dtypes: float64(7), int64(3)
memory usage: 1.9 MB

In [50]:
sub_df.head()

,accommodates,bathrooms,bedrooms,price,cleaning_fee,security_deposit,extra_people,guests_included,good_location,size
id,,,,,,,,,,
2015,3,1.0,1.0,60.0,30.0,200.0,28.0,1,0,75.0
2695,2,1.0,1.0,17.0,0.0,0.0,0.0,1,0,25.0
3176,4,1.0,1.0,90.0,50.0,200.0,20.0,2,0,68.0
3309,2,1.0,1.0,26.0,30.0,250.0,18.0,1,0,26.0
7071,2,1.0,1.0,42.0,0.0,0.0,24.0,1,0,20.0

In [51]:
train_data = sub_df[sub_df['size'].notnull()]
test_data  = sub_df[sub_df['size'].isnull()]

In [52]:
X_train = train_data.drop('size', axis=1)
X_test  = test_data.drop('size', axis=1)

In [53]:
y_train = train_data['size']

In [54]:
from sklearn.linear_model import LinearRegression
lg = LinearRegression()
lg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [55]:
y_test = lg.predict(X_test)

In [56]:
# Теперь когда у нас есть значения площади преобразуем y_test в датасет
y_test = pd.DataFrame(y_test)
y_test.columns = ['size']
print(y_test.shape)
y_test.head()

(11744, 1)

        size
0  57.080688
1  97.388704
2  74.591018
3  87.394770
4  61.198663

In [57]:
print(X_test.shape)
X_test.head()

(11744, 9)

,accommodates,bathrooms,bedrooms,price,cleaning_fee,security_deposit,extra_people,guests_included,good_location
id,,,,,,,,,
14325,2,1.0,0.0,70.0,0.0,500.0,0.0,1,0
20858,4,1.0,2.0,129.0,49.0,500.0,24.0,2,0
21869,4,1.0,1.0,70.0,40.0,500.0,18.0,2,0
22415,4,1.0,2.0,98.0,50.0,300.0,25.0,2,0
28156,2,1.0,0.0,70.0,0.0,1660.0,0.0,1,0

In [58]:
# Чтобы объединить X_test и y_test нужно сопоставить индексы обеих частей
ind = pd.DataFrame(X_test.index)
ind.columns = ['ind']
y_test = pd.concat([y_test, ind], axis=1)
y_test.set_index(['ind'], inplace=True)
y_test.head()

            size
ind
14325  57.080688
20858  97.388704
21869  74.591018
22415  87.394770
28156  61.198663

In [59]:
new_test_data = pd.concat([X_test, y_test], axis=1)

In [60]:
print(new_test_data.shape)
new_test_data.head(10)

(11744, 10)

,accommodates,bathrooms,bedrooms,price,cleaning_fee,security_deposit,extra_people,guests_included,good_location,size
14325,2,1.0,0.0,70.0,0.0,500.0,0.0,1,0,57.080688
20858,4,1.0,2.0,129.0,49.0,500.0,24.0,2,0,97.388704
21869,4,1.0,1.0,70.0,40.0,500.0,18.0,2,0,74.591018
22415,4,1.0,2.0,98.0,50.0,300.0,25.0,2,0,87.394770
28156,2,1.0,0.0,70.0,0.0,1660.0,0.0,1,0,61.198663
31440,1,1.0,1.0,44.0,15.0,100.0,15.0,1,0,54.376603
38296,2,1.0,1.0,80.0,35.0,500.0,0.0,2,0,64.519666
41217,2,1.0,1.0,43.0,0.0,0.0,13.0,1,0,52.712908
41306,2,1.0,1.0,40.0,0.0,0.0,0.0,1,0,45.614047
43123,4,1.0,1.0,90.0,50.0,300.0,20.0,2,0,82.595159

In [61]:
new_test_data['size'].isna().sum()

0

In [62]:
sub_df_new = pd.concat([new_test_data, train_data], axis=0)

In [63]:
print(sub_df_new.shape)
sub_df_new.head()

(22441, 10)

,accommodates,bathrooms,bedrooms,price,cleaning_fee,security_deposit,extra_people,guests_included,good_location,size
14325,2,1.0,0.0,70.0,0.0,500.0,0.0,1,0,57.080688
20858,4,1.0,2.0,129.0,49.0,500.0,24.0,2,0,97.388704
21869,4,1.0,1.0,70.0,40.0,500.0,18.0,2,0,74.591018
22415,4,1.0,2.0,98.0,50.0,300.0,25.0,2,0,87.394770
28156,2,1.0,0.0,70.0,0.0,1660.0,0.0,1,0,61.198663

In [64]:
df_raw.drop(['accommodates', 'bathrooms', 'bedrooms',  'price', 'cleaning_fee', 
                 'security_deposit', 'extra_people', 'guests_included', 'good_location', 'size'], 
            axis=1, inplace=True)

/Users/olgakhamtsova/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [65]:
df = pd.concat([sub_df_new, df_raw], axis=1)

print(df.shape)
df.head(2)

(22441, 32)

,accommodates,bathrooms,bedrooms,price,cleaning_fee,security_deposit,extra_people,guests_included,good_location,size,...,is_business_travel_ready,host_is_superhost,latitude,longitude,is_entire_apt,hair_dryer,lap_friendly,Washer,minimum_nights_more_1,cancellation_not_flexible
2015,3,1.0,1.0,60.0,30.0,200.0,28.0,1,0,75.0,...,f,1,52.534537,13.402557,1,0,0,0,0,1
2695,2,1.0,1.0,17.0,0.0,0.0,0.0,1,0,25.0,...,f,0,52.548513,13.404553,0,0,0,1,0,0

In [66]:
df['size'].describe()

count    22441.000000
mean        60.123550
std         80.870854
min          0.000000
25%         25.000000
50%         49.087384
75%         65.000000
max        980.000000
Name: size, dtype: float64

In [67]:
print(format(np.percentile(df["size"], 98.5)))

300.0

In [68]:
# 98,5% данных ограничиваются площадью 300 кв м. Все что больше 300 кв м, а так же  нулевые значения считаем выбросами. 
df.drop(df[ (df['size'] == 0.) | (df['size'] > 300.) ].index, axis=0, inplace=True)

In [69]:
selected.append("size")

In [70]:
df[selected].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22008 entries, 2015 to 29867352
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   is_entire_apt              22008 non-null  int64
 1   hair_dryer                 22008 non-null  int64
 2   lap_friendly               22008 non-null  int64
 3   Washer                     22008 non-null  int64
 4   minimum_nights_more_1      22008 non-null  int64
 5   cleaning_fee               22008 non-null  float64
 6   accommodates               22008 non-null  int64
 7   host_is_superhost          22008 non-null  int64
 8   host_identity_verified     22008 non-null  int64
 9   instant_bookable           22008 non-null  int64
 10  cancellation_not_flexible  22008 non-null  int64
 11  good_location              22008 non-null  int64
 12  size                       22008 non-null  float64
dtypes: float64(2), int64(11)
memory usage: 2.4 MB

In [71]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
scaledFeatures = sc.fit_transform(df[selected])

In [72]:
import xgboost as xgb

In [73]:
from xgboost import plot_importance
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import r2_score, mean_squared_error

In [74]:
X = scaledFeatures
y = df["price"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [75]:
xgb_clf = xgb.XGBRegressor()
parameters = {'n_estimators': [120, 100, 140], 'max_depth':[3,5,7,9]}
grid_search = GridSearchCV(estimator=xgb_clf, param_grid=parameters, cv=5, n_jobs=-1)
grid_search.fit(X_train, y_train)
print(grid_search.best_params_)

[11:25:07] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
{'max_depth': 7, 'n_estimators': 100}

In [76]:
xgb_clf = xgb.XGBRegressor(n_estimators=100, max_depth=7)
xgb_clf.fit(X_train, y_train)
y_test_pred = xgb_clf.predict(X_test)
print("R^2 score: {0: .4f}".format(r2_score(y_test, y_test_pred)))
print("RMSE: {0: .4f}".format(np.sqrt(mean_squared_error(y_test, y_test_pred))))

[11:26:18] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
R^2 score:  0.6536
RMSE:  24.0006

In [77]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()
from sklearn.model_selection import GridSearchCV
param_grid = [{'max_depth': np.arange(1, 10),
              'min_samples_leaf': [1, 5, 10, 20, 50, 100],
              'min_weight_fraction_leaf': [0.0,0.1,0.3,0.5],
              'random_state':[1,3,4,7]}]
gridCV = GridSearchCV(estimator=regressor, param_grid=param_grid,cv=10)
gridCV = gridCV.fit(X_train, y_train)
print(gridCV.best_score_)
print(gridCV.best_params_)

0.5665965733750788
{'max_depth': 9, 'min_samples_leaf': 20, 'min_weight_fraction_leaf': 0.0, 'random_state': 1}

In [78]:
md = gridCV.best_params_["max_depth"]
msl  = gridCV.best_params_["min_samples_leaf"]
mwfl = gridCV.best_params_["min_weight_fraction_leaf"]
rs = gridCV.best_params_["random_state"]

In [79]:
regressor = DecisionTreeRegressor(max_depth=md,min_samples_leaf=msl,min_weight_fraction_leaf=mwfl,random_state=rs)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

In [80]:
from sklearn.metrics import mean_squared_error, r2_score
RMSE = np.sqrt(mean_squared_error(y_test, y_pred))
print(f"RMSE: {round(RMSE, 4)}")

RMSE: 25.8744

In [81]:
r2 = r2_score(y_test, y_pred)
print(f"r2: {round(r2, 4)}")

r2: 0.5973

In [82]:
df.shape

(22008, 32)