# Домашнее задание №5

###### Задание 1

In [2]:
import numpy as np

In [25]:
def array(N):
    array1 = np.arange(0, N)
    array2 = -np.sort(-array1)
    return array2

array(10)

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

###### Задание 2

In [81]:
def array(N):
    array1 = np.diag(np.arange(N), k=0)
    array2 = -np.sort(-array1.diagonal())
    for i in range(0, len(array1)):
        array1[i][i] = array2[i]
    return array1

array(10)

array([[9, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 8, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 7, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 6, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 5, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 4, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 3, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 2, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

###### Задание 3

In [97]:
import pandas as pd

In [167]:
ratings = pd.read_csv('c:\\temp\\ml-latest-small\\ratings.csv')
movies = pd.read_csv('c:\\temp\\ml-latest-small\\movies.csv')
ratings_5=ratings[ratings['rating']==5].groupby('movieId').count()[['rating']].sort_values('rating', ascending=False).head(1)
joined = ratings_5.merge(movies.loc[:, ['movieId','title']], on='movieId', how='left')
joined.head()

   movieId  rating                             title
0      318     153  Shawshank Redemption, The (1994)

###### Задание 4

In [223]:
power = pd.read_csv('c:\\temp\\power.csv')
baltic = power[power['country'].isin(['Latvia', 'Estonia', 'Lithuania']) & (power['quantity'] > 0) & power['category'].isin([4, 12, 21]) & power['year'].isin([2005, 2006, 2007, 2008, 2009, 2010])]
print (baltic.agg({'quantity': 'sum'}))

quantity    240580.0
dtype: float64

###### Задание 5

In [227]:
from numpy import linalg
a = np.array( [ [4, 2, 1], [1, 3, 0], [5, 0, 4] ] )
b = np.array( [4, 12, -3] )
linalg.solve(a, b)
np.allclose( np.dot(a, linalg.solve(a, b)), b )

True